  <div class="row">
  <div class="col-xl-12">
		<div id="panel-1" class="panel">
       <div class="panel-hdr">
         <h2>
          <span class="fw-500">Formulário</span>
				 </h2>
          <div class="panel-toolbar">
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
          </div>
       </div>
		 	<div class="panel-container show">
				<div class="panel-content"> 
            <%= simple_form_for(@planejamento_pedagogico) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
                <%#= f.association :capitulo, collection: Capitulo.all.limit(50), label_method: :nome %>
                <%= f.association :capitulo, label_method: :nome, label:"#{PlanejamentoPedagogico.human_attribute_name(:capitulo_id)}", include_blank: "Por favor, selecione" %>
                <%= f.input :numero_semana %>
            </div>

            <br>

            <button type="submit" class="btn btn-default waves-effect waves-themed">Salvar</button>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>