  <div class="wrapper wrapper-content animated fadeInRight">
    <% content_for(:title, "#{@planejamento_pedagogico.model_name.human}") %>
    <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @planejamento_pedagogico.model_name.human %>/Incluir
    <% end %> 
    <%= render 'form' , planejamento_pedagogico: @planejamento_pedagogico %>
  </div>