<div class="wrapper wrapper-content animated fadeInRight">
    <% content_for(:title, "#{@atividade_complementar.model_name.human}") %>
    <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @atividade_complementar.model_name.human %>/Editar
    <% end %> 
  <%= render 'form', atividade_complementar: @atividade_complementar %>
</div>
