  <div class="wrapper wrapper-content animated fadeInRight">
     <% content_for(:title, "#{@ano_letivo.model_name.human}") %>
     <% content_for(:category_1, 'Cadastros') %>

     <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @ano_letivo.model_name.human %>/Incluir
     <% end %> 
    <%= render 'form' , ano_letivo: @ano_letivo %>
  </div>