
<div class="row">
  <div class="col-xl-12">
		<div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          <span class="fw-500">Formulário</span>
				</h2>
        <div class="panel-toolbar">
            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
        </div>
      </div>
			<div class="panel-container show">
				<div class="panel-content">
          <%= simple_form_for(@contrato_nivel) do |f| %>
            <%= f.hidden_field :contrato_id, value: @contrato_nivel.contrato_id %>
            <%= f.hidden_field :ativo, value: @contrato_nivel.ativo %>

            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
              <label class="form-control-label">Prefeitura:</label>
              <label class="form-control"><%= @contrato_nivel.contrato.prefeitura.nome %></label>
              <%= f.association :nivel, label_method: :nome, include_blank: "** Escolha o nível **" %>              
            </div>
            

            <br>

            <button type="submit" class="btn btn-default waves-effect waves-themed">Salvar</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>