<div class="wrapper wrapper-content animated fadeInRight">
  <% content_for(:title, "#{@contrato_nivel.model_name.human}") %>
  <% content_for(:category_1, 'Cadastros') %>

  <% content_for :heading do %>
    <i class='subheader-icon fal fa-table'></i> <%= @contrato_nivel.model_name.human %>/Editar
  <% end %>

  <%= render 'form', contrato_nivel: @contrato_nivel %>
</div>
