<div class="row">
  <div class="col-xl-12">
	 <div id="panel-1" class="panel">
      <div class="panel-hdr">
          <h2>
            <span class="fw-500">Formulário</span>
          </h2>
          <div class="panel-toolbar">
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
          </div>
        </div>
    


        <div class="panel-container show">
          <div class="panel-content"> 
              <%= simple_form_for(@user) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                  <%= f.input :perfil, disabled:true%>
                  <%= f.input :email, disabled:true%>
                  <%= f.association :cidade , label_method: :nome , disabled:true  %>
                  
              </div>
              <br>

              <% end %>
             


              <%= form_for(@user) do |f| %>
                <%= render "devise/shared/error_messages", resource: @user %>
                
                <div class="field teste">
                  <%= f.label :password, "Senha antiga" %><br />
                  <%= f.password_field :password_antiga%>
                  <%= f.label :password, "Senha nova" %><br />
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
              

                </div>
              
                <div class="field teste" >
                  <%= f.label :password_confirmation, "Confirmar senha" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
              
                <div class="actions btn-actions">
                  <%= f.submit "Salvar" %>
                </div>
              <% end %>
              
          </div>
        </div>
    </div>
  </div>
</div>
