  <div class="wrapper wrapper-content animated fadeInRight">
    <% content_for(:title, "#{@user.model_name.human}") %>
    <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @user.model_name.human %>/Incluir
    <% end %>
    <%= render 'form_incluir' , users: @users %>
  </div>