<% if Rails.configuration.app_sidebar %>
<!-- BEGIN Left Aside -->
<aside class="page-sidebar">

	<%= render 'shared/logo' %>

	<!-- BEGIN PRIMARY NAVIGATION -->
	<nav id="js-primary-nav" class="primary-nav" role="navigation">

       <!-- Alterado em 04/08/2022 por William -->
		<%= render 'shared/nav_filter' if Rails.configuration.nav_filter %>
		<%= render 'shared/nav_info_card' if Rails.configuration.nav_info_card %>	
		<%= render 'shared/nav' %>
		<%= render 'shared/nav_filter_msg' %>
	</nav>
	<!-- END PRIMARY NAVIGATION -->

	<!-- NAV FOOTER -->
	<%= render 'shared/nav_footer' %>
	<!-- END NAV FOOTER -->

</aside>
<!-- END Left Aside -->
<% end %>
