<ul id="js-nav-menu" class="nav-menu">
  <% SidebarEntry.all.each do |entry| %>
    <% if entry[:group_title].present? %>
      <li class="nav-title"><%= entry[:group_title]%></li>
    <% end %>

    
    
    <% if current_user.perfil != 'admin' %>
      <% if entry[:title] == 'Administrador' %>
        <% break %>
      <% end %>
      <%=render partial: 'shared/nav_sub_entry', collection: entry[:children], as: :sub_entry, locals: {parents: []} %>

    <% end %>
    <% if current_user.perfil == 'admin' %>
      <%=render partial: 'shared/nav_sub_entry', collection: entry[:children], as: :sub_entry, locals: {parents: []} %>
     <% end %>
  <% end %>
</ul>