<% content_for :head_block do %>
  <!-- DEMO related CSS below -->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <!-- page related CSS below -->
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>
<% end %>
