
<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
    <script>
      $(document).ready(function () {
        $(function() {
          $('.select2').select2();
  
          $(".select2-placeholder-multiple").select2({
            placeholder: "Select State"
          }); 
          $(".js-hide-search").select2({
            minimumResultsForSearch: 1 / 0
          }); 
          $(".js-max-length").select2({
            maximumSelectionLength: 2,
            placeholder: "Select maximum 2 items"
          });
          $(".select2-placeholder").select2({
            placeholder:"Select a state",
            allowClear: true
          });
          
          $(".js-select2-icons").select2({
            minimumResultsForSearch: 1 / 0,
            templateResult: icon,
            templateSelection: icon,
            escapeMarkup: function (elm) {
              return elm
            }
          });
          function icon(elm) {
            elm.element;
            return elm.id ? "<i class='" + $(elm.element).data("icon") + " mr-2'></i>" + elm.text : elm.text
          }
  
          $(".js-data-example-ajax").select2({
            ajax: {
              url: "https://api.github.com/search/repositories",
              dataType: 'json',
              delay: 250,
              data: function (params) {
                return {
                  q: params.term, // search term
                  page: params.page
                };
              },
              processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
  
                return {
                  results: data.items,
                  pagination: {
                    more: (params.page * 30) < data.total_count
                  }
                };
              },
              cache: true
            },
            placeholder: 'Search for a repository',
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
          });
  
          function formatRepo (repo) {
            if (repo.loading) {
              return repo.text;
            }
  
            var markup = "<div class='select2-result-repository clearfix d-flex'>" +
              "<div class='select2-result-repository__avatar mr-2'><img src='" + repo.owner.avatar_url + "' class='width-2 height-2 mt-1 rounded' /></div>" +
              "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title fs-lg fw-500'>" + repo.full_name + "</div>";
  
            if (repo.description) {
              markup += "<div class='select2-result-repository__description fs-xs opacity-80 mb-1'>" + repo.description + "</div>";
            }
  
            markup += "<div class='select2-result-repository__statistics d-flex fs-sm'>" +
              "<div class='select2-result-repository__forks mr-2'><i class='<%= Rails.configuration.icon_prefix %> fa-lightbulb'></i> " + repo.forks_count + " Forks</div>" +
              "<div class='select2-result-repository__stargazers mr-2'><i class='<%= Rails.configuration.icon_prefix %> fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
              "<div class='select2-result-repository__watchers mr-2'><i class='<%= Rails.configuration.icon_prefix %> fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
            "</div>" +
            "</div></div>";
  
            return markup;
          }
  
          function formatRepoSelection (repo) {
            return repo.full_name || repo.text;
          }
        });
      });
    </script>
<% end %>