<div class="form-group">
  <label class="form-label" for="multiple-basic">
    <%= Cidade.model_name.human %>
  </label>
  <select class="select2 form-control w-100" id="single-default" name="setor_id" required="true">
    <option value="0">Por favor, selecione</option>
    <% Cidade.order(:nome).each do |cidade| %>
      <option value="<%= cidade.id %>"><%= cidade.nome %></option>
    <% end %>
  </select>
</div>
