
<div class="ibox ">
  <div class="ibox-title">
    <h2>Criar Mídia de Aprendizagem</h2>
  </div>
  <div class="ibox-content">
    <%= simple_form_for(@formacao) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
        <%= f.input :nome %>
        <%= f.association :capitulo, collection: Capitulo.all.limit(50), label_method: :nome %>
        <%= f.input :descricao %>
        <%= f.input :url %>
    </div>

    </br>

    <%= f.button :submit, class: "btn btn-default btn-pills waves-effect waves-themed" %>

    <% end %>
  </div>
</div>