<%- model_class = Formacao -%>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox ">
    <div class="ibox-title">
      <h2>Dados Mídias de Aprendizagem</h2>
    </div>
    <div class="ibox-content">
              <p>
          <strong><%= model_class.human_attribute_name( :nome) %>:</strong>
          <%= @formacao.nome %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :capitulo) %>:</strong>
          <%= @formacao.capitulo.nome %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :descricao) %>:</strong>
          <%= @formacao.descricao %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :url) %>:</strong>
          <%= @formacao.url %>
        </p>
          </div>
  </div>
</div>
