<%
  content_for(:title, 'Login')
%>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
<% end %>

<div class="page-wrapper auth">
	<div class="page-inner bg-brand-gradient">
		<div class="page-content-wrapper bg-transparent m-0">
			<div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
				<div class="d-flex align-items-center container p-0">

					<div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
						<a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
						<%= image_tag 'smartadmin/logo_circular.png', alt: "#{Rails.configuration.app} WebApp", aria: {roledescription: 'logo'} %>
						<span class="page-logo-text mr-1"><%= Rails.configuration.app_name %></span>
						</a>
					</div>
          <!--tirando link criar conta 19/08/2022 William-->
          <%#= link_to "Criar Conta", new_registration_path(resource_name), class: 'btn-link text-white ml-auto' %>

					<%#= link_to 'Criar Conta', page_page_register_path, class: 'btn-link text-white ml-auto' %>
				</div>
			</div>
			<div class="flex-1" style="background: url('<%= image_path 'smartadmin/svg/pattern-1.svg' %>') no-repeat center bottom fixed; background-size: cover;">
				<div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
					<div class="row">
						<div class="col col-md-6 col-lg-7 hidden-sm-down">
							<h2 class="fs-xxl fw-500 mt-4 text-white">

								<%#= image_tag 'smartadmin/logo.png', alt: "#{Rails.configuration.app} WebApp", aria: {roledescription: 'logo'} %>

								<%= image_tag 'smartadmin/logo_dinamica.png', size: "560x400", alt: "#{Rails.configuration.app} WebApp", aria: {roledescription: 'logo'} %>
							</h2>

							<div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
								<div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
									Find us on social media
								</div>
								<div class="d-flex flex-row opacity-70">
									<a href="#" class="mr-2 fs-xxl text-white">
										<i class="fab fa-facebook-square"></i>
									</a>
									<a href="#" class="mr-2 fs-xxl text-white">
										<i class="fab fa-twitter-square"></i>
									</a>
									<a href="#" class="mr-2 fs-xxl text-white">
										<i class="fab fa-google-plus-square"></i>
									</a>
									<a href="#" class="mr-2 fs-xxl text-white">
										<i class="fab fa-linkedin"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
							<h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
								Secure login
							</h1>
							<div class="card p-4 rounded-plus bg-faded">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

								<%#= form_tag root_path, method: :get, id: 'js-login', novalidate: true do %>
									<div class="form-group">
										<label class="form-label" for="username">e-Mail</label>
										<input type="email" name="user[email]" id="user_email" class="form-control form-control-lg" placeholder="Seu id ou e-mail" value="<%= Rails.configuration.email %>" required>
										<div class="invalid-feedback">No, you missed this one.</div>
										<div class="help-block">Seu e-mail exclusivo para o aplicativo</div>
									</div>
									<div class="form-group">
										<label class="form-label" for="password">Senha</label>
										<input type="password" name="user[password]" id="user_password" class="form-control form-control-lg" placeholder="password"  value="" required>
										<div class="invalid-feedback">Sorry, you missed this one.</div>
										<div class="help-block">Sua Senha</div>
									</div>
									<div class="form-group text-left">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="rememberme">
											<label class="custom-control-label" for="rememberme"> Lembre-se de mim pelos próximos 30 dias</label>
										</div>
									</div>
									<div class="row no-gutters">
										<div class="col-lg-6 pr-lg-1 my-2">
											<!--<button type="submit" class="btn btn-info btn-block btn-lg">Sign in with <i class="fab fa-google"></i></button>-->
                     <!-- <%= button_tag type: 'submit', class: "btn btn-info btn-block btn-lg", id: "register-button" do %>
                        Log in with <i class="fab fa-google" aria-hidden="true"></i>
                      <% end %> --> 
					  	</div>
										<div class="col-lg-6 pl-lg-1 my-2">
                      <%= button_tag type: 'submit', class: "btn btn-danger btn-block btn-lg", id: "register-button" do %>
                        Conectar
                      <% end %>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
					<div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
						<%= Rails.configuration.copyright_inverse %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :scripts_block do %>
  <script>
    $("#js-login-btn").click(function(event) {

      // Fetch form to apply custom Bootstrap validation
      var form = $("#js-login")

      if (form[0].checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.addClass('was-validated');
      // Perform ajax submit here...
    });
  </script>
<% end %>
<!--

<h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end %>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %>
-->