<%- model_class = Cidade -%>


<% content_for :heading do %>
  <i class='subheader-icon fal fa-table'></i> <%= @cidades.model_name.human %>
    <a href="javascript:void(0);" class="btn btn-outline-default btn-icon waves-effect waves-themed" data-toggle="modal" data-target=".default-example-modal-right-sm">
    <i class="fal fa-search"></i> 
  </a>
<% end %>


<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          <span class="fw-500"><%= @cidades.model_name.human %></span>
				</h2>
        <div class="panel-toolbar">
          <%= link_to "#{content_tag(:i, nil, class: '')} NOVO"
          .html_safe, new_cidade_path, class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
			<div class="panel-container show">
				<div class="panel-content">
					<!-- datatable start -->
					<table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
						<thead>
							<tr>
								<th width=10></th>
								<th width=10></th>
								<th width=10></th>
                <th><%= model_class.human_attribute_name( :nome) %></th>
                <th><%= model_class.human_attribute_name( :estado) %></th>
                <th><%= model_class.human_attribute_name( :codigo_ibge) %></th>
             </tr>
						</thead>
            <tbody>
              <% @cidades.each do |cidade| %>
                <tr>
                  <td class="text-center">
                    <%= link_to content_tag(:i, nil, class: 'ni ni-magnifier' ), cidade,
                    class: 'rounded-top d-flex align-items-center justify-content-center w-100 pt-1 pb-1 pr-1 pl-1 fa-1x' , title: 'Visualizar' %>
                  </td>
                  <td class="text-center">
                    <%= link_to content_tag(:i, nil, class: 'ni ni-note' ),
                    edit_cidade_path(cidade),
                    class: 'rounded-top d-flex align-items-center justify-content-center w-1 pt-1 pb-1 pr-1 pl-1 fa-1x' , title: 'Editar' %>
                  </td>
                  <td class="text-center">
                    <%= link_to content_tag(:i, nil, class: 'ni ni-trash' ), cidade, method:
                    :delete, data: { confirm: 'Confirma exclusão?' }, class: 'rounded-top d-flex align-items-center justify-content-center w-1 pt- pb-1 pr-1 pl-1 fa-1x' ,
                    title: 'Remover' %>
                  </td>
                    <td><%= cidade.nome %></td>
                    <td><%= cidade.estado.nome %></td>
                    <td><%= cidade.codigo_ibge %></td>
                  </tr>
              <% end %>
            </tbody>
						
					</table>
					<!-- datatable end -->
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade default-example-modal-right-sm" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-right modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title h4">Filtros</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fal fa-times"></i></span>
				</button>
			</div>
			<div class="modal-body">

				<div class="card mb-g">
					<div class="card-body p-3">
						<h5 class="text-danger">			


            <%= form_tag cidades_path(q: params[:q]), method: :get do |f| %>
              <div class="row">

                <div class="form-group">
                  <label class="form-label" for="multiple-basic">
                    Nome da Cidade
                  </label>

                  <input type="text" id="nome" name="nome_cidade" class="form-control" placeholder="Nome da cidade">
                </div>      

                <div class="col-xl-1">
                  <br>
                  <button type="submit" class="btn btn-sm btn-outline-secondary waves-effect waves-themed">Buscar</button>
                </div>
              </div>
            <% end %>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>







<% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>

    /* demo scripts for change table color */
    /* change background */


    $(document).ready( function () {
      $('#dt-basic-example').dataTable({
        responsive: true,
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
        }
      });

      $('.js-thead-colors a').on('click', function(){
        var theadColor = $(this).attr("data-bg");
        console.log(theadColor);
        $('#dt-basic-example thead').removeClassPrefix('bg-').addClass(theadColor);
      });

      $('.js-tbody-colors a').on('click', function(){
        var theadColor = $(this).attr("data-bg");
        console.log(theadColor);
        $('#dt-basic-example').removeClassPrefix('bg-').addClass(theadColor);
      });

    });
  </script>
<% end %>
