<div class="wrapper wrapper-content animated fadeInRight">
    <% content_for(:title, "#{@nivel.model_name.human}") %>
    <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @nivel.model_name.human %>/Editar
    <% end %> 
  <%= render 'form', nivel: @nivel %>
</div>
