<div class="wrapper wrapper-content animated fadeInRight">
  <%% content_for(:title, "#{@<%= singular_table_name %>.model_name.human}") %>
  <%% content_for(:category_1, 'Cadastros') %>

  <%% content_for :heading do %>
    <i class='subheader-icon fal fa-table'></i> <%%= @<%= singular_table_name %>.model_name.human %>/Editar
  <%% end %>

  <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>
