<%%- model_class = <%= "#{class_name}" %> -%>

<%% content_for(:title, "#{@<%= plural_table_name %>.model_name.human}") %>
<%% content_for(:category_1, 'Cadastros') %>

<%% content_for :heading do %>
  <i class='subheader-icon fal fa-table'></i> <%%= @<%= plural_table_name %>.model_name.human %>
<%% end %>

<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          <span class="fw-500">Lista</span>
				</h2>
        <div class="panel-toolbar">
          <%%= link_to "#{content_tag(:i, nil, class: '')} Incluir"
          .html_safe, new_<%= singular_route_name %>_path, class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
			<div class="panel-container show">
				<div class="panel-content">
					<!-- datatable start -->
					<table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
						<thead>
							<tr>
								<th width=10></th>
								<th width=10></th>
								<th width=10></th>
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
                  <th><%%= model_class.human_attribute_name( :<%= attribute.name %>) %></th>
                <% end -%>
							</tr>
						</thead>
            <tbody>
              <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
                <tr>
                  <td class="text-center">
                    <%%= link_to content_tag(:i, nil, class: 'ni ni-magnifier' ), <%= model_resource_name %>,
                    class: 'rounded-top d-flex align-items-center justify-content-center w-100 pt-1 pb-1 pr-1 pl-1 fa-1x' , title: 'Visualizar' %>
                  </td>
                  <td class="text-center">
                    <%%= link_to content_tag(:i, nil, class: 'ni ni-note' ),
                    edit_<%= singular_route_name %>_path(<%= singular_table_name %>),
                    class: 'rounded-top d-flex align-items-center justify-content-center w-1 pt-1 pb-1 pr-1 pl-1 fa-1x' , title: 'Editar' %>
                  </td>
                  <td class="text-center">
                    <%%= link_to content_tag(:i, nil, class: 'ni ni-trash' ), <%= model_resource_name %>, method:
                    :delete, data: { confirm: 'Confirma exclusão?' }, class: 'rounded-top d-flex align-items-center justify-content-center w-1 pt- pb-1 pr-1 pl-1 fa-1x' ,
                    title: 'Remover' %>
                  </td>
                  <% attributes.reject(&:password_digest?).each do |attribute| -%>
                    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
                  <% end -%>
                </tr>
              <%% end %>
            </tbody>
					</table>
					<!-- datatable end -->
				</div>
			</div>
		</div>
	</div>
</div>

<%% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>

    /* demo scripts for change table color */
    /* change background */


    $(document).ready( function () {
      $('#dt-basic-example').dataTable({
        responsive: true,
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
        }
      });

      $('.js-thead-colors a').on('click', function(){
        var theadColor = $(this).attr("data-bg");
        console.log(theadColor);
        $('#dt-basic-example thead').removeClassPrefix('bg-').addClass(theadColor);
      });

      $('.js-tbody-colors a').on('click', function(){
        var theadColor = $(this).attr("data-bg");
        console.log(theadColor);
        $('#dt-basic-example').removeClassPrefix('bg-').addClass(theadColor);
      });

    });
  </script>
<%% end %>
