<div class="col-lg-12 order-lg-2 order-xl-3">
	<% @atividade_complementares.order(:nome).each do |atividade_complementar| %>
		<div class="card mb-2">  
			<div class="card-body">
				<a href="<%= atividade_complementar.url %>" class="d-flex flex-row align-items-center"  target="_blank">
					<div class='icon-stack display-3 flex-shrink-0'>
						<i class="<%= atividade_complementar.icone_tipo_conteudo[:icone] %> icon-stack-3x opacity-100 color-<%= atividade_complementar.icone_tipo_conteudo[:cor_icone] %>-400"></i> 
					</div>
					<div class="ml-3">
						<strong>
							<%= atividade_complementar.nome %>
						</strong>
						<br>
						<%= atividade_complementar.descricao %>
					</div>
				</a>
			</div>
		</div>
	<% end %>
</div>