<%#= render 'shared/scripts_select2_head' %>				
<div class="row">
	<div class="col-xl-3">
		<div id="panel-1" class="panel">

			<div class="panel-hdr">
				<h2> 
					<span class="fw-500">Séries</span>
				</h2>
					
				<div class="panel-toolbar">
					<button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
					<button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>					
				</div>					
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<% @niveis.each do |nivel| %>
						<h5><%= nivel.nome %></h5>
						<div class="demo">
							<% nivel.series.each do |serie| %>
								<%= link_to "#{content_tag(:i, nil, class: '')} #{serie.nome}".html_safe, consulta_coordenadores_path(serie.id, 0), class: 'btn btn-outline-primary waves-effect waves-themed' %>
							<% end %>
						</div>
					<% end %>			
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">
				<h2> 
					<span class="fw-500">
						Livros
						<% if @serie %>
							 - 
							<span class="badge border border-primary text-primary"><%= @serie.nome %></span>
						<% end %>
					</span>
				</h2>					
				<div class="panel-toolbar">
					<button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
					<button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>					
				</div>					
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<% if @livros.present? %>
						<table class="table table-bordered table-hover m-0">
							<tbody>
								<% @livros.all.each do |livro| %>
									<tr>
										<td width="05%">
											<%= link_to content_tag(:i, nil, class: 'ni ni-magnifier' ), consulta_coordenadores_path(@serie.id, livro.id), class: 'rounded-top d-flex align-items-center justify-content-center w-100 pt-1 pb-1 pr-1 pl-1 fa-1x' , title: 'Midias do livro' %>
										</td>
										<td width="95%">
											<%= livro.nome %>
												 -  <span class="badge badge-primary"><%= livro.capitulos.joins(:atividade_complementares).count %></span>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% end %>
				</div>
			</div>		
		</div>
	</div>


	<% if @atividade_complementares.present? %>			
		<div class="col-xl-6">
			<%= render partial: 'livro_atividade_complementar' %>
		</div>						
	<% else %>
		<p>Livro sem atividade complementar</p>
	<% end %>
</div>





<% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>

    /* demo scripts for change table color */
    /* change background */


    $(document).ready( function () {
      $('#dt-basic-example').dataTable({
        responsive: true
      });

      $('.js-thead-colors a').on('click', function(){
        var theadColor = $(this).attr("data-bg");
        console.log(theadColor);
        $('#dt-basic-example thead').removeClassPrefix('bg-').addClass(theadColor);
      });

      $('.js-tbody-colors a').on('click', function(){
        var theadColor = $(this).attr("data-bg");
        console.log(theadColor);
        $('#dt-basic-example').removeClassPrefix('bg-').addClass(theadColor);
      });

    });
  </script>
<% end %>
