

<div class="row">
  <div class="col-xl-12">
		<div id="panel-1" class="panel">
       <div class="panel-hdr">
         <h2>
          <span class="fw-500">Formulário</span>
				 </h2>
          <div class="panel-toolbar">
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
          </div>
       </div>
		 	<div class="panel-container show">
				<div class="panel-content"> 
            <%= simple_form_for(@coordenacao_pedagogica) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">  
                <%= f.association :prefeitura, collection: Prefeitura.all, label_method: :nome, include_blank: "Por favor, selecione" %>
                <%= f.association :ano_letivo, collection: AnoLetivo.all, label_method: :ano, include_blank: "Por favor, selecione" %>
                <%= f.association :nivel, label_method: :nome , label:"#{Serie.human_attribute_name(:nivel_id)}", include_blank: "Por favor, selecione" %>
                <%#= f.association :nivel, collection: Nivel.all, label_method: :nome %>
            </div>

            <br>
     
            <button type="submit" class="btn btn-default waves-effect waves-themed">Salvar</button>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
      

