  <div class="wrapper wrapper-content animated fadeInRight">
    <% content_for(:title, "#{@contrato.model_name.human}") %>
    <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @contrato.model_name.human %>/Incluir
    <% end %>  
    <%= render 'form' , contrato: @contrato %>
  </div>