<%- model_class = Contrato -%>
<div class="wrapper wrapper-content animated fadeInRight">
   <% content_for(:title, "#{@contrato.model_name.human}") %>
   <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @contrato.model_name.human %>
    <% end %>

    <div class="row">
      <div class="col-xl-12">
        <div id="panel-1" class="panel">
          <div class="panel-hdr">
              <h2>
                <span class="fw-500">Dados</span>
              </h2>
              <div class="panel-toolbar">
                  <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                  <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                  <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
              </div>
              </div>
                <div class="panel-container show">
                  <div class="panel-content">
                     <p>
                      <strong><%= model_class.human_attribute_name( :prefeitura) %>:</strong>
                      <%= @contrato.prefeitura.nome %>
                     </p>
                     <p>
                      <strong><%= model_class.human_attribute_name( :ano_letivo) %>:</strong>
                      <%= @contrato.ano_letivo.ano %>
                     </p>
                  </div>
  
                <div class="panel-content d-flex py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
              <div class="demo">
                <%= link_to "#{content_tag(:i, nil, class: '')} Editar".html_safe, edit_contrato_path(@contrato), class: 'btn btn-success btn-sm' %>
                <%= link_to "#{content_tag(:i, nil, class: '')} Incluir".html_safe, new_contrato_path, class: 'btn btn-primary btn-sm' %>
                <%= link_to "#{content_tag(:i, nil, class: '')} Voltar".html_safe, contratos_path, class: 'btn btn-secondary btn-sm' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          <span class="fw-500">Lista</span>
				</h2>
        <div class="panel-toolbar">
          <%= link_to "#{content_tag(:i, nil, class: '')} Incluir"
          .html_safe, new_contrato_contrato_nivel_path(@contrato), class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
			<div class="panel-container show">
				<div class="panel-content">
					<!-- datatable start -->
					<table class="table table-bordered table-hover table-striped w-100">
						<thead>
							<tr>
								<th width=10></th>
								<th width=10></th>
                <th><%= model_class.human_attribute_name( :nivel) %></th>
              </tr>
						</thead>
            <tbody>
              <% @contrato.contrato_niveis.each do |contrato_nivel| %>
                <tr>
                  
                  <td class="text-center">
                    <%= link_to content_tag(:i, nil, class: 'ni ni-note' ),
                    edit_contrato_nivel_path(contrato_nivel),
                    class: 'rounded-top d-flex align-items-center justify-content-center w-1 pt-1 pb-1 pr-1 pl-1 fa-1x' , title: 'Editar' %>
                  </td>
                  <td class="text-center">
                    <%= link_to content_tag(:i, nil, class: 'ni ni-trash' ), contrato_nivel, method:
                    :delete, data: { confirm: 'Confirma exclusão?' }, class: 'rounded-top d-flex align-items-center justify-content-center w-1 pt- pb-1 pr-1 pl-1 fa-1x' ,
                    title: 'Remover' %>
                  </td>
                  <td><%= contrato_nivel.nivel.nome %></td>
                </tr>
              <% end %>
            </tbody>
					</table>
					<!-- datatable end -->
				</div>
			</div>
		</div>
	</div>
</div>



<% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>

    /* demo scripts for change table color */
    /* change background */


    $(document).ready( function () {
      $('#dt-basic-example').dataTable({
        responsive: true,
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
        }
      });

      $('.js-thead-colors a').on('click', function(){
        var theadColor = $(this).attr("data-bg");
        console.log(theadColor);
        $('#dt-basic-example thead').removeClassPrefix('bg-').addClass(theadColor);
      });

      $('.js-tbody-colors a').on('click', function(){
        var theadColor = $(this).attr("data-bg");
        console.log(theadColor);
        $('#dt-basic-example').removeClassPrefix('bg-').addClass(theadColor);
      });

    });
  </script>
<% end %>
