/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'smartadmin/vendors.bundle'
 *= require 'smartadmin/app.bundle'
 *= require_self
 */



 .teste input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(216, 215, 215);
    outline: none;
 }

 .teste label{
    margin-top: 15px;
 }

 .btn-actions input{
    width: 90px;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid rgb(114, 114, 114);
 }


 .input-none{
   display: none;
 }