  <div class="wrapper wrapper-content animated fadeInRight">
    <% content_for(:title, "#{@prefeitura.model_name.human}") %>
    <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @prefeitura.model_name.human %>/Incluir
    <% end %>

    <%= render 'form' , prefeitura: @prefeitura %>
  </div>