<%- model_class = Estado -%>
<div class="wrapper wrapper-content animated fadeInRight">

  <% content_for(:title, "#{@estado.model_name.human}") %>
  <% content_for(:category_1, 'Cadastros') %>

  <% content_for :heading do %>
    <i class='subheader-icon fal fa-table'></i> <%= @estado.model_name.human %>
  <% end %>

  <div class="row">
    <div class="col-xl-12">
      <div id="panel-1" class="panel">
        <div class="panel-hdr">
          <h2>
            <span class="fw-500">Dados</span>
          </h2>
          <div class="panel-toolbar">
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
              <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
          </div>
        </div>
        <div class="panel-container show">
          <div class="panel-content">
            <p>
              <strong><%= model_class.human_attribute_name( :nome) %>:</strong>
              <%= @estado.nome %>
            </p>
            <p>
              <strong><%= model_class.human_attribute_name( :sigla) %>:</strong>
              <%= @estado.sigla %>
            </p>
            <p>
              <strong><%= model_class.human_attribute_name( :codigo_ibge) %>:</strong>
              <%= @estado.codigo_ibge %>
            </p>
          </div>

          <div class="panel-content d-flex py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
            <div class="demo">
              <%= link_to "#{content_tag(:i, nil, class: '')} Editar".html_safe, edit_estado_path(@estado), class: 'btn btn-success btn-sm' %>
              <%= link_to "#{content_tag(:i, nil, class: '')} Incluir".html_safe, new_estado_path, class: 'btn btn-primary btn-sm' %>
              <%= link_to "#{content_tag(:i, nil, class: '')} Voltar".html_safe, estados_path, class: 'btn btn-secondary btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
