  <div class="wrapper wrapper-content animated fadeInRight">
    <% content_for(:title, "#{@serie.model_name.human}") %>
    <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @serie.model_name.human %>/incluir
    <% end %>
    <%= render 'form' , series: @series %>
  </div>