<div class="wrapper wrapper-content animated fadeInRight">
 <% content_for(:title, "#{@livro.model_name.human}") %>
    <% content_for(:category_1, 'Cadastros') %>

    <% content_for :heading do %>
      <i class='subheader-icon fal fa-table'></i> <%= @livro.model_name.human %>/Editar
    <% end %> 
  <%= render 'form', livro: @livro %>
</div>
